.button {

    background-color: #e0e0e0;
    border: 0;
    font-size: 1.5rem;
    margin: 0 1px 0 0;
    flex: 20 auto;
    padding: 10px;

    background-color: #f5923e;
    color: white;
    border-radius: 12px;

    width: 100px;


}

.button-reset {

    background-color: red;
    border: 0;
    font-size: 15px;
    margin: 0 1px 0 0;
    padding: 15px;
    width: 90px;
    color: white;
    margin-top:20px;


}


.component-button-panel {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    text-align: center;
}

.component-button-panel > div {

    width: 100%;

    margin-bottom: 1px;
    flex: 1 0 auto;

    display: flex;
    align-items: center;
    justify-content: center

}

ul {
    counter-reset: index;
    padding: 0;
    max-width: 300px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


nav {
    position: relative;
    margin: 0 auto;
}

li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 1px 0;
    box-sizing: border-box;

}

li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
}

